.artwork-card {
    position: relative;
    overflow: hidden;
}

.artwork-card:hover {
    background-color: #f0ba32;
}

.artwork-card-img {
    transition: opacity 0.3s ease-in-out;
    height: 500px;
}

.artwork-card:hover .card-img {
    opacity: 0;
}

.artwork-card-title {
    color: black;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-weight: 400;
    font-family: "Bona Nova SC", serif;
    font-style: normal;
}

.artwork-card:hover .card-title {
    opacity: 1;
}

.artwork-container-rcmd {
    background-color: white;
    padding-top: 5rem;
    padding-inline: 10rem;
    margin-top: 1000px;
}