.artwork-card {
    position: relative;
    overflow: hidden;
}

.artwork-card-img {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.artwork-card:hover {
    background-color: #f0ba32;
}
.artwork-card:hover .artwork-card-img {
    opacity: 0;
}

.artwork-card-title {
    color: black;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-weight: 400;
    font-family: "Bona Nova SC", serif;
    font-style: normal;
}
.artwork-card:hover .artwork-card-title {
    opacity: 1;
}