{% extends 'base.html' %}
{% load static %}
{% block extra-style %}
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">계정 소개</h2>
    <div id="editor"></div>
    <button id="saveButton" class="btn btn-primary mt-3">저장</button>
</div>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const initialContent = "{{ info|escapejs }}"; 
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '600px',
        initialValue: initialContent || '내용을 입력해주세요.',
        initialEditType: 'markdown',
        hooks: {
        addImageBlobHook: async (blob, callback) => {
            // 이미지 서버에 업로드
            const formData = new FormData();
            formData.append('image', blob);

            try {
                const response = await fetch('{% url "seller:upload_image" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                });

                const data = await response.json();
                if (data.success) {
                    // 서버에서 반환된 이미지 URL 또는 간단한 식별자
                    const imageUrl = data.image_url; // 여기서 반환된 URL을 사용
                    callback(imageUrl, '이미지 설명'); // 이미지 URL과 설명을 콜백으로 전달
                } else {
                    alert('이미지 업로드 중 오류가 발생했습니다.');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('이미지 업로드 중 오류가 발생했습니다.');
            }
        }
    }
    });

    document.getElementById('saveButton').onclick = function() {
        const content = editor.getMarkdown();
        
        // AJAX 요청을 통해 서버에 내용을 전송합니다.
        fetch('{% url "seller:save_seller_info" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ info: content })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('내용이 성공적으로 저장되었습니다.');
            } else {
                alert('저장 중 오류가 발생했습니다.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('저장 중 오류가 발생했습니다.');
        });
    };
</script>
{% endblock %}