{% extends "base.html" %}
{% load static %}
{% block extra-style %}
<link href="{% static 'artwork/artwork_like.css' %}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="d-flex justify-content-center mb-5">
        <div class="border p-4 rounded mt-4 artwork-like-container">
            <h2 class="text-center mb-4">찜한 작품</h2>

            <div class="container">
                {% if like_list %}
                <div class="row">
                    {% for like in like_list %}
                    <div class="col-lg-3 col-sm-6 mb-3">

                        <a href="{% url 'artwork:artwork_detail' like.art_work.pk %}" class="">
                            <img src="{{ like.art_work.artimage_set.first.image_url.url }}"
                                class="img-thumbnail like-thumbnail-img" alt="{{ like.art_work.name }}">
                        </a>
                        <!-- 좋아요 버튼 -->
                        <button type="button" class="btn like-button" id="like-button{{ like.art_work.id }}"
                            data-artwork-id="{{ like.art_work.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-suit-heart" viewBox="0 0 16 16">
                                <path
                                    d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1" />
                            </svg>
                        </button>

                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="row">
                    <p class="text-center">찜한 상품이 없습니다.</p>
                    <a class="btn btn-outline-secondary" href="{% url 'artwork:artwork_list' %}" role="button">Artworks
                        바로가기</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // 모든 like-button 클래스를 가진 버튼에 대해 클릭 이벤트 핸들러를 설정
        $('button[id^="like-button"]').click(function () {
            var button = $(this);
            var artworkId = button.data('artwork-id');
            var currentUrl = '{% url "artwork:toggle_work_like" 0 %}'.replace('0', artworkId);
            $.ajax({
                url: currentUrl,
                method: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                success: function (response) {
                    var likeIcon = button.find('svg');
                    if (response.liked) {
                        likeIcon.html(`
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                        </svg>
                    `);
                    } else {
                        likeIcon.html(`
                        <svg id="like-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                            <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.6 7.6 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                        </svg>
                    `);
                    }
                }
            });
        });
    });

</script>
{% endblock %}