{% extends "base.html" %}
{% load static %}
{% load user_tags %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'artwork/detail_style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
  #cart-message {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      padding: 15px;
      border-radius: 10px;
      text-align: center;
      z-index: 1000;
  }
</style>
{% endblock %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ artwork.artimage_set.first.image_url.url }}" alt="{{ artwork.title }}" class="img-fluid d-block mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ artwork.artimage_set.first.image_url.url }}" alt="{{ artwork.title }}" class="img-fluid d-block mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ artwork.artimage_set.first.image_url.url }}" alt="{{ artwork.title }}" class="img-fluid d-block mx-auto" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="container-fluid">
  <div class="card mt-3 mx-2 py-3 px-4">
    <div class="card-body d-flex flex-row">
      <!-- 왼쪽 div -->
      <div class="card-caption d-flex flex-column flex-fill px-1" style="width: 50%;">
            <h3 class="caption-card-title">{{ artwork.title }}</h3>
            <h5 class="caption-card-subtitle">{{ artwork.seller.username }}</h5>
            <h6 class="mt-4">
              {% for artwork_material in artwork.artworkmaterial_set.all %}
                  {{ artwork_material.material.name }}
              {% endfor %}
            </h6>
            <h6 class="caption-card-subtitle text-body-secondary">
              2023, 
              {% if artwork.depth == 0 %}
              {{ artwork.width }} x {{ artwork.height }} cm
              {% else %}
              {{ artwork.width }} x {{ artwork.height }} x {{ artwork.depth }} cm
              {% endif %}
            </h6>
            <!-- 판매자 페이지(판매자에게만 보임) -재헌 -->
            {% verify_owner artwork.id user.id as is_owner %}
            {% if is_owner %}
            <div class="mt-4 d-flex justify-content-start">
                <button type="button" class="btn btn-warning">
                    <a href="{% url 'artwork:update_artwork' artwork.id %}" class="text-dark text-decoration-none">수정하기</a>
                </button>
                <button type="button" class="btn btn-danger mx-2">
                    <a href="{% url 'artwork:delete_artwork' artwork.id %}" class="text-dark text-decoration-none">삭제하기</a>
                </button>
            </div>
            {% endif %}            
            <!-- 판매자 페이지(판매자에게만 보임) -재헌 -->
      </div>

      <!-- 세로줄 -->
      <div class="d-flex align-items-center mx-2" style="height: auto;">
        <div class="vr"></div>
      </div>

      <!-- 오른쪽 div -->
      <div class="d-flex flex-column px-1" style="width: 50%;">
        <p class="ms-2">{{ artwork.price|floatformat:0  }} 원</p>
        <p class="ms-2">{% if artwork.exhibit %} {{ artwork.exhibit.title }} {% else %} 없음 {% endif %}</p>

        <!-- 좋아요 버튼 -->
        <div class="hstack gap-1">
          <button type="button" class="btn" id="like-button" data-artwork-id="{{ artwork.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
              {% if liked %}
                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
              {% else %}
                    <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.6 7.6 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
              {% endif %}
            </svg>
          </button>
          <span id="like-count">{{ artwork.worklike_set.count }} likes</span>
        </div>

        <!-- 작가에게 문의하기 버튼, 예약, 구매하기 및 장바구니에 추가하기 버튼 -->
         <div class="hstack gap-2">
            <button id="inquiry-button" type="button" class="btn">
              <h6><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-dots-fill" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
              </svg></h6>
            </button>
            {% if not artwork.is_sold %}
                {% if artwork.is_reservable %}
                <a href="{% url 'artwork:reserve_artwork' artwork.id %}" class="btn btn-dark">구매 예약</a>
                {% else %}
                <a href="{% url 'artwork:add_to_cart' artwork.id %}" class="btn btn-outline-dark add-to-cart-button" data-artwork-id="{{ artwork.id }}">장바구니에 추가</a>
                <a href="{% url 'order:create_order' artwork.id %}" class="btn btn-dark">구매하기</a>
                {% endif %}
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container container-description">
    <h4 class="mt-5">작가의 말</h4>
    <p>{{ artwork.description }}</p>
</div>

    <!-- 좋아요 기능 AJAX로 요청 -->
    <script>
        $('#like-button').click(function() {
            var button = $(this);
            var artworkId = button.data('artwork-id');
            console.log('artworkId :', artworkId);
            $.ajax({
                url: '{% url "artwork:toggle_work_like" artwork.id %}',
                method: 'POST',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function(response) {
                    var likeIcon = $('#like-button');
                    if (response.liked) {
                    likeIcon.html(`
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                        </svg>
                        `);
                    }else {
                    likeIcon.html(`
                        <svg id="like-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                            <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.6 7.6 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                        </svg>
                        `);
                    }
                    $('#like-count').text(response.count + " likes");
                }
            });
        });

        $('#inquiry-button').click(function() {
            window.location.href = '{% url "artwork:add_inquiry" artwork.id %}';
        });

        // 장바구니 안내 메세지 보이기
        function displayCartMessage(message) {
        alert(message);
        }
        // 카트 버튼 이벤트 추가
        document.querySelectorAll('.add-to-cart-button').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const artworkId = this.dataset.artworkId;

                fetch("{% url 'artwork:add_to_cart' 0 %}".replace('0', artworkId), {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    displayCartMessage(data.message, data.type);
                })
                .catch(error => {
                    console.error('Error:', error);
                    displayCartMessage('오류가 발생했습니다.', 'danger');
                });
            });
        });
    </script>
{% endblock %}

