{% extends "base.html" %}
{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'artwork/list_style.css' %}">
{% endblock %}

{% block content %}

<!-- 정렬 -->
<div class="head-container">
    <div class="direct-container">
        <p class="text-center">Artworks</p>
        <div class="d-flex justify-content-center">
            <a class="link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">Artworks |</a>
            <a class="link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">Community</a>
            <a class="link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover">| Exhibition Map</a>
        </div>
    <!-- </div> -->
    <div class="sort-container d-flex justify-content-end">
        <a class="link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="javascript:void(0)" onclick="updateSort('recent')">최근 등록순 |</a>
        <a class="link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="javascript:void(0)" onclick="updateSort('high_price')">가격 높은순</a>
        <a class="link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="javascript:void(0)" onclick="updateSort('low_price')">| 가격 낮은순</a>
    </div>
</div>

<!-- 작품들 -->
<div class="container-fluid" id="artwork-container">
    <div class="row" style="margin-top: 20px;">
        {% for artwork in artwork_list %}
        <div class="col-4 artwork-card p-0 border-0 rounded-0">
            <div class="ratio ratio-1x1">
                <a href="{% url 'artwork:artwork_detail' artwork.pk %}">
                    <img src="{{ artwork.artimage_set.first.image_url.url }}" class="artwork-card-img rounded-0">
                    <div class="artwork-card-img-overlay d-flex flex-column justify-content-center align-items-center">
                        <h5 class="artwork-card-title">{{ artwork.title }}</h5>
                        <h5 class="artwork-card-title">{{ artwork.price }}</h5>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- 작품들end -->

<script>
    function updateSort(sortType) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('sort_by', sortType);
        // 다른 필터 파라미터를 유지하면서 URL 업데이트
        window.location.search = urlParams.toString();
    }
    
    var page = 2;
    var loading = false;

    function loadMoreArtworks() {
        if (loading) return;
        loading = true;

        $.ajax({
            url: "{% url 'artwork:load_more_artworks' %}",
            data: {
                'page': page,
            },
            success: function(data) {
                if (data.artworks.length > 0) {
                    data.artworks.forEach(function(artwork) {
                        var cardHtml = `
                            <div class="col-4 artwork-card p-0 border-0 rounded-0">
                                <img src="${artwork.image_url}" class="artwork-card-img rounded-0" alt="...">
                                <div class="artwork-card-img-overlay d-flex flex-column justify-content-center text-center">
                                    <h5 class="artwork-card-title">${artwork.title}</h5>
                                    <h6 class="artwork-card-text">${artwork.price}</h6>
                                </div>
                            </div>`;
                        $('#artwork-container .row').append(cardHtml);
                    });
                    page++;
                }
                loading = false;
            },
            error: function() {
                loading = false;
            }
        });
    }

    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            loadMoreArtworks();
        }
    });
</script>
{% endblock %}
