{% extends "base.html" %}
{% load static %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'artwork/style.css' %}">
{% endblock %}

{% block content %}
<!-- 작품들 -->
<div class="container-fluid works" id="artwork-container">
    <div class="row" style="margin-top: 350px;">
        {% for artwork in artwork_list %}
            <div class="col-4 card p-0 border-0 rounded-0">
                <img src="{{ artwork.artimage_set.first.image_url.url }}" class="artwork-card-img rounded-0">
                <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
                    <h5 class="artwork-card-title">{{ artwork.title }}</h5>
                    <h6 class="artwork-card-text">{{ artwork.price }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- 작품들end -->

<script>
    var page = 2;
    var loading = false;

    function loadMoreArtworks() {
        if (loading) return;
        loading = true;

        $.ajax({
            url: "{% url 'artwork:load_more_artworks' %}",
            data: {
                'page': page,
            },
            success: function(data) {
                if (data.artworks.length > 0) {
                    data.artworks.forEach(function(artwork) {
                        var cardHtml = `
                            <div class="col-4 card p-0 border-0 rounded-0">
                                <img src="${artwork.image_url}" class="card-img rounded-0" alt="...">
                                <div class="card-img-overlay d-flex flex-column justify-content-center text-center">
                                    <h5 class="card-title">${artwork.title}</h5>
                                    <h6 class="card-text">${artwork.price}</h6>
                                </div>
                            </div>`;
                        $('#artwork-container .row').append(cardHtml);
                    });
                    page++;
                }
                loading = false;
            },
            error: function() {
                loading = false;
            }
        });
    }

    $(window).scroll(function() {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
            loadMoreArtworks();
        }
    });
</script>
{% endblock %}
