{% extends "base.html" %}
{% load static %}
{% load user_tags %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'artwork/detail_style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="{% static 'css/seller_artwork.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- 입력폼 -->
{% if error_message %}
<div style="color: red;">{{ error_message }}</div>
{% endif %}


<form id="artworkForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-inner">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-flex flex-column align-items-center mt-4 border-top">
        <h4 class="mt-4">작품 이미지</h4>
        <div class="container">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" multiple accept="image/*"
                    onchange="previewImages(event)">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mt-3 mx-2 py-3 px-4">
            <h4 class="text-center">작품 정보</h4>
            <div class="card-body d-flex flex-row">
                <!-- 왼쪽 div -->
                <div class="card-caption d-flex flex-column" style="width: 50%;">
                    <div class="container">
                        <div class="form-floating caption-card-title mb-4">
                            <input type="text" name="title" id="artworkTitle" class="form-control" maxlength="100"
                                placeholder="작품명" required>
                            <label for="artworkTitle">작품명</label>
                        </div>

                        <div class="form-floating caption-card-subtitle text-body-secondary">
                            <input type="number" name="year" id="artworkYear" class="form-control"
                                placeholder="작품 완성 년도">
                            <label for="artworkYear">작품 완성 년도</label>
                        </div>
                    </div>

                    <div class="row container caption-card-subtitle text-body-secondary mt-4 center-text">
                        <div class="form-floating form-floating-size col px-1">
                            <input type="number" name="width" id="artworkWidth" class="form-control" placeholder="가로"
                                required>
                            <label for="artworkWidth">가로</label>
                        </div>
                        x
                        <div class="form-floating form-floating-size col px-1">
                            <input type="number" name="height" id="artworkHeight" class="form-control" placeholder="높이"
                                required>
                            <label for="artworkHeight">높이</label>
                        </div>
                        x
                        <div class="form-floating form-floating-size col px-1">
                            <input type="number" name="depth" id="artworkDepth" class="form-control" placeholder="깊이"
                                required>
                            <label for="artworkHeight">깊이</label>
                        </div>
                        cm
                    </div>
                </div>

                <!-- 세로줄 -->
                <div class="d-flex align-items-center mx-2" style="height: auto;">
                    <div class="vr"></div>
                </div>

                <!-- 오른쪽 div -->
                <div class="card-caption d-flex flex-column px-1" style="width: 50%;">
                    <div class="form-floating form-floating-size col px-1">
                        <input type="number" step="0.01" name="price" id="artworkPrice" class="form-control"
                            placeholder="가격" required>
                        <label for="artworkPrice">가격</label>
                    </div>

                    <div class="form-floating px-1 mt-2">
                        <select class="form-select" name="materials" size="3" multiple>
                            <option selected>재료 선택</option>
                            {% for material in materials %}
                            <option value="{{ material.name }}">{{ material.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="d-flex flex-column px-1" style="width: 50%;">
                        <p class="ms-2"><input type="number" step="0.01" name="price" placeholder="가격"
                                required></p>
                        <label for="id_exhibit">Exhibit:</label>
                        <input id="exhibit-autocomplete" name="exhibit" type="text">

                        <div class="mt-2">
                            <input type="checkbox" name="is_reservable" id="id_is_reservable">
                            <label for="id_is_reservable">전시 전 작품입니다.</label>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-description">
        <h4 class="mt-5">작가의 말</h4>
        <textarea name="description" class="form-control" rows="5" required></textarea>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-light border ">등록</button>
    </div>

</form>
<!-- 입력폼 end -->
<script>
    let imageFiles = []; // 선택된 이미지 파일들을 저장하는 배열

    function previewImages(event) {
        const input = event.target; // 파일 입력 요소
        const files = input.files; // 선택된 파일들

        const carouselInner = document.querySelector('.carousel-inner'); // 캐러셀 내부

        for (let i = 0; i < files.length; i++) {
            imageFiles.push(files[i]); // 이미지 파일 배열에 추가
            const reader = new FileReader(); // 파일 읽기 객체

            reader.onload = function (e) {
                // 캐러셀 아이템 생성
                const carouselItem = document.createElement('div');
                carouselItem.className = 'carousel-item position-relative'; // 상대적 위치 설정

                const img = document.createElement('img');
                img.src = e.target.result; // 파일 읽기 결과를 이미지 소스로 설정
                img.className = 'd-block w-100'; // 스타일 적용

                // 삭제 버튼 생성
                const deleteBtn = document.createElement('button');
                deleteBtn.className = 'btn btn-danger btn-sm position-absolute'; // 버튼 스타일
                deleteBtn.innerText = 'X'; // 버튼 텍스트
                deleteBtn.style.top = '10px'; // 버튼 위치
                deleteBtn.style.right = '10px'; // 버튼 위치
                deleteBtn.style.zIndex = '100'; // 버튼 레이어 조정
                deleteBtn.onclick = function (event) {
                    event.stopPropagation(); // 클릭 이벤트 전파 중지
                    removeImage(carouselItem, files[i]); // 이미지 제거 함수 호출
                };

                carouselItem.appendChild(img); // 이미지 추가
                carouselItem.appendChild(deleteBtn); // 삭제 버튼 추가
                carouselInner.appendChild(carouselItem); // 캐러셀 내부에 아이템 추가

                // 캐러셀 인디케이터 생성
                const indicator = document.createElement('button');
                indicator.type = 'button';
                indicator.dataset.bsTarget = '#carouselExampleIndicators'; // 캐러셀 타겟 설정
                indicator.dataset.bsSlideTo = carouselInner.children.length - 1; // 인디케이터 슬라이드 설정

                if (carouselInner.children.length === 1) {
                    carouselItem.classList.add('active'); // 첫 번째 아이템 활성화
                    indicator.classList.add('active'); // 첫 번째 인디케이터 활성화
                    indicator.ariaCurrent = 'true'; // 현재 슬라이드 표시
                }

                indicator.ariaLabel = 'Slide ' + carouselInner.children.length; // 인디케이터 레이블 설정
            };

            reader.readAsDataURL(files[i]); // 파일을 데이터 URL로 읽기
        }
    }

    function removeImage(carouselItem, file) {
        // 이미지 파일 배열에서 파일 제거
        const index = imageFiles.indexOf(file);
        if (index > -1) {
            imageFiles.splice(index, 1);
        }

        // 캐러셀 아이템 제거
        carouselItem.remove();


        // 첫 번째 캐러셀 아이템 활성화
        const carouselItems = document.querySelectorAll('.carousel-item');
        if (carouselItems.length > 0) {
            carouselItems.forEach((item, i) => {
                if (i === 0) {
                    item.classList.add('active'); // 첫 번째 아이템 활성화
                } else {
                    item.classList.remove('active'); // 나머지 아이템 비활성화
                }
            });
        }
    }

    // 제출
    document.getElementById('artworkForm').onsubmit = function (e) {
        e.preventDefault();

        const formData = new FormData(this);
        imageFiles.forEach((image, index) => {
            formData.append('images', image);
        });

        fetch("{% url 'artwork:create_artwork' %}", {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                window.location.href = "{% url 'artwork:seller_artwork_list' %}";
            } else {
                alert('Error creating artwork');
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    };

    // 전시검색 자동완성 
    $(document).ready(function() {
        $("#exhibit-autocomplete").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'artwork:exhibit_autocomplete' %}",
                    data: {
                        'term': request.term
                    },
                    dataType: 'json',
                    success: function(data) {
                        // 디버깅
                        console.log('AJAX request successful:', data); 
                        response($.map(data, function(item) {
                            return {
                                label: item,
                                value: item,
                            };
                        }));
                    }
                });
            },
            select: function(event, ui) {
                $('#exhibit-autocomplete').val(ui.item.value); // value를 입력 필드에 설정
                return false; // 기본 동작 방지
            },
            minLength: 1
        });
    });
</script>
{% endblock %}