{% extends 'base.html' %}
{% load static %}
{% block extra-style %}
<link href="{% static 'artwork/user_inquiry.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="d-flex justify-content-center mb-5">
        <div class="border p-4 rounded mt-4 inquiry-container">
            <h2 class="text-center mb-4">문의내역</h2>

            <!-- 문의 리스트 -->
            {% if inquiry_list %}
            {% for inquiry in inquiry_list %}
            <a href="{% url 'artwork:user_inquiry_detail' inquiry.pk %}" class="text-decoration-none">
                <div class="card inquiry-list-card mb-2 d-flex justify-content-center">
                    <div class="card-body inquiry-card-body d-flex flex-column mx-3">
                        <div class="row d-flex mb-auto">
                            <p class="me-auto text-truncate">작품명: {{ inquiry.art_work.title }}</p>
                            <p>by {{ inquiry.seller.nickname }}</p>
                        </div>
                        <div class="d-flex mt-2">
                            {% if inquiry.answer %}
                            <span class="badge completed-badge rounded-pill bg-danger me-auto">답변완료</span>
                            {% endif %}
                            <div class="position-absolute bottom-0 end-0 me-4">
                            <p class="inquiry-date">작성일: {{ inquiry.created_at }}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <div class="row">
                <p class="text-center">문의하신 내용이 없습니다.</p>
                <a class="btn btn-outline-secondary" href="{% url 'artwork:artwork_list' %}" role="button">Artworks 바로가기</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
