{% extends 'base.html' %}
{% load static %}
{% block extra-style %}
<link href="{% static 'css/user.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="d-flex justify-content-center mb-5">
        <div class="border p-4 rounded mt-4 address-container">
            <h2 class="text-center mb-4">배송지 관리</h2>
            <div class="card address-list-card">
                <div class="card-body">
                    {% if address_list %}
                        {% for address in address_list %}
                            {{ address }}
                        {% endfor %}
                    {% else %}
                    없음
                    {% endif %}
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <form method="post" class="">
                        {% csrf_token %}

                        <div class="mb-3 row">
                            <label for="recipient" class="col-sm-2 col-form-label">받는분:</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control" id="recipient">
                            </div>
                            <label for="phone_number" class="col-sm-2 col-form-label">휴대폰 번호:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="phone_number">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="destination" class="col-sm-2 col-form-label">배송지:</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="집" class="form-control" id="destination">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="postal_code" class="col-sm-2 col-form-label">우편번호:</label>
                            <div class="col-sm-10 mb-1">
                                <input type="text" class="form-control" id="postal_code">
                            </div>

                            <label for="address" class="col-sm-2 col-form-label">배송주소:</label>
                            <div class="col-sm-10 mb-1">
                                <input type="text" class="form-control" id="address">
                            </div>
                            <label for="detail_address" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10 mb-1">
                                <input type="text" class="form-control" id="detail_address">
                            </div>
                        </div>

                        <button type="submit" class="btn w-100 mt-2">저장</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}