{% extends 'base.html' %}
{% load static %}
{% block extra-style %}
<link href="{% static 'css/user.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="d-flex justify-content-center mb-5">
        <div class="border p-4 rounded mt-4 register-container">
            <h2 class="text-center mb-4">회원 가입</h2>
            {% if error %}
            <p style="color: red;" class="text-center">{{ error }}</p>
            {% endif %}
            <form id="register-form" method="post" enctype="multipart/form-data" class="register-form">
                {% csrf_token %}
                <input type="email" id="email" name="email" class="form-control md-3" placeholder="Email" required>
                <input type="university" id="university" name="university" class="form-control md-3" placeholder="대학명"
                    required>

                <div class="mb-3 d-flex">
                    <div class="me-2" style="flex: 1;">
                        <button type="button" id="univ-authenticate" class="w-100 btn btn-secondary">대학교 인증</button>
                    </div>
                    <div style="flex: 1;">
                        <button type="button" id="send-verification-code" class="w-100 btn btn-secondary" disabled>인증코드 발송</button>
                    </div>
                </div>

                <input type="text" id="verification_code" name="email_verification_code" class="form-control mt-3"
                    placeholder="인증 코드 입력" required>

                <div class="mb-3 d-flex">
                    <div class="me-2" style="flex: 1;">
                        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="성"
                            required>
                    </div>
                    <div style="flex: 1;">
                        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="이름"
                            required>
                    </div>
                </div>

                <input type="text" id="nickname" name="nickname" class="form-control md-3" placeholder="Nickname"
                    required>

                <input type="text" id="phone_number" name="phone_number" class="form-control mb-3" placeholder="핸드폰 번호"
                    required>

                <input type="password" id="password1" name="password1" class="form-control mb-3" placeholder="비밀번호"
                    required>

                <input type="password" id="password2" name="password2" class="form-control mb-3" placeholder="비밀번호 확인"
                    required>

                <label for="photo" class="form-label">프로필(선택사항)</label>
                <input type="file" id="photo" name="photo" class="form-control mb-3">

                <input type="text" id="bank" name="bank" class="form-control mb-3" placeholder="은행명" required>

                <input type="text" id="account" name="account" class="form-control mb-3" placeholder="계좌번호" required>

                <input type="text" id="bank_user" name="bank_user" class="form-control mb-3" placeholder="예금주" required>

                <label for="department" class="form-label mb-1">출신 학과</label>
                <select id="department" name="department" class="form-control mb-3" required>
                    {% for department in departments %}
                    <option value="{{ department.id }}">{{ department.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary w-100">등록</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('send-verification-code').addEventListener('click', function () {
                    const email=document.getElementById('email').value;

                    fetch('{% url "user:send_verification_code" %}', {

                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',
                        }

                        ,
                        body: JSON.stringify({
                            email: email
                        })

                }) .then(response=> response.json()) .then(data=> {
                    if (data.success) {
                        alert('인증 코드가 이메일로 발송되었습니다.');
                    }

                    else {
                        alert('인증 코드 발송에 실패했습니다.');
                    }
                });
        });
    });
</script>
{% endblock %}

{% block extra-js %}
<script src="{% static 'js/university_verification.js' %}"></script>
{% endblock %}