{% extends 'base.html' %}
{% load static %}
    
    <title>Board-create-form</title>
    {% block extra-style %}
    <script src="https://kit.fontawesome.com/a47086679e.js" crossorigin="anonymous"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  
    <!-- Plugin -->
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" />
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

    <style>
        body {
        background: #EEE;
        font-family: 'Roboto', sans-serif;
        }
        .container {
            background: #fff;
            padding: 0 20px;
        }
        .create-header {
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center; /* 세로 중앙 정렬 */
        }
        .create-header h1 {
            margin: 0; /* margin 제거 */
            display: flex; /* Flexbox 컨테이너로 설정 */
            align-items: center; /* 세로 중앙 정렬 */
        }

          

              

        .preview-image {
            display: none;
            max-width: 70%; /* 수정된 부분 */
            height: auto;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .img-container {
            position: relative;
            overflow: hidden;
            width: 100%; /* 원하는 고정 너비로 설정 */
            height: 600px; /* 원하는 고정 높이로 설정 */
            background-color: #000;
        }
        .img-container img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
        }
        .carousel-cap{
            width: 24px;
            margin: 20px 20px;
            border-radius: 24px;
            background-color: #373634;
            color: #fff;
        }
        
        .post-content {
            background-color: #fff; /* 흰색 배경 */
            padding: 20px; /* 내부 여백 */
            border: 1px solid #ddd; /* 테두리 */
            border-radius: 5px; /* 모서리 둥글게 */
            font-family: 'Arial', sans-serif; /* 글꼴 설정 */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
        }

        .post-content h2 {
            font-size: 24px; /* 제목 크기 */
            margin-bottom: 10px; /* 아래 여백 */
            color: #333; /* 제목 색상 */
        }

        .post-content p {
            font-size: 14px; /* 본문 크기 */
            color: #666; /* 본문 색상 */
            margin-bottom: 10px; /* 아래 여백 */
        }

        .post-content li.h5 {
            font-size: 18px; /* 리스트 아이템 크기 */
            color: #333; /* 리스트 아이템 색상 */
            margin-bottom: 5px; /* 아래 여백 */
        }

        .post-content a {
            color: #007bff; /* 링크 색상 */
            text-decoration: none; /* 밑줄 제거 */
        }

        .post-content a:hover {
            text-decoration: underline; /* 링크에 호버 시 밑줄 추가 */
        }
        li{
            list-style: none;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-top: 10px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            border: none; /* 테두리 제거 */
            border-radius: 5px; /* 둥근 모서리 */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
            font-family: 'Arial', sans-serif; /* 글꼴 설정 */
            font-size: 16px; /* 글자 크기 */
        }

        textarea {
            height: 140px; /* 7줄 정도의 높이 */
            resize: none; /* 크기 조정 비활성화 */
        }

        input[type="text"]:focus,
        textarea:focus {
            outline: none; /* 포커스 시 아웃라인 제거 */
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* 포커스 시 그림자 효과 */
        }

      
    </style>
    {% endblock %}

    {% block content %}
    <div class="container mt-5">
        <div class="create-header">
            <h1>새 포스트 생성</h1>
            <form action="{% url 'board:board_detail' %}" method="post">
                {% csrf_token%}
                <button type="submit" class="btn btn-outline-secondary">게시하기</button>
            </form>
        </div>
    <div class="row">
        <div class="col-md-8 post-img" >
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="img-container">
                        <!-- seed 뒤 포스트 id 부여 seed/{{post.id}} -->
                        <img src="{% static 'sample_images/예원예술대_융합조형디자인_포스터.png' %}" class="img-fluid" alt="random_img11">
                            <div class="overlay">
                                <!-- #373634 -->
                                <span class="carousel-cap">1/3</span>
                            </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="img-container">
                        <img src="{% static 'sample_images/융합디자인1.png' %}" class="img-fluid" alt="random_img11">
                            <div class="overlay">
                                <!-- #373634 -->
                                <span class="carousel-cap">2/3</span>
                            </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="img-container">
                        <img src="{% static 'sample_images/융합디자인2.png' %}" class="img-fluid" alt="random_img11">
                            <div class="overlay">
                                <!-- #373634 -->
                                <span class="carousel-cap">3/3</span>
                            </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

        <ul class="col-md-4 post-content">
            <div style="display: flex; justify-content: space-between; margin-bottom: 12px;">
                <h5 class="mb-3"><i class="fa-solid fa-circle-user"></i>&nbsp;관리자</h5>
                <!-- <p>2024-07-09</p> -->
            </div>
            <form action="">
                <label for="title"></label>
                <input type="text" id="title" placeholder="포스트 제목...">
                
                <label for="content"></label>
                <textarea id="content" placeholder="내용 입력..."></textarea>
                
                
                <li class="h5">전시</li>
                <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">예원예술대 융합디자인</option>
                    <option value="2">서울예대 공간디자인</option>
                </select>
                
            </form>
            
        </ul>
    </div>

    </div>

<script>
                  
</script>
{% endblock %}