{% extends 'base.html' %}
{% load static %}
    
    <title>Board-create</title>
    {% block extra-style %}
    <script src="https://kit.fontawesome.com/a47086679e.js" crossorigin="anonymous"></script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  
    <!-- Plugin -->
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css" />
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

    <style>
        body {
        background: #EEE;
        font-family: 'Roboto', sans-serif;
        }
        .container {
            background: #fff;
        }
        .create-header {
            padding: 20px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center; /* 세로 중앙 정렬 */
        }
        .create-header h1 {
            margin: 0; /* margin 제거 */
            display: flex; /* Flexbox 컨테이너로 설정 */
            align-items: center; /* 세로 중앙 정렬 */
        }

        .dropzone {
            margin: 0 20px;
            width: 98%;
            margin: 1%;
            border: 2px dashed #3498db !important;
            border-radius: 5px;
            -webkit-transition: .2s;
            transition: .2s;
        }

        .dropzone.dz-drag-hover {
            border: 2px solid #3498db !important;
        }

        .dz-message.needsclick img {
        width: 50px;
        display: block;
        margin: auto;
        opacity: .6;
        margin-bottom: 15px;
        }

        span.plus {
        display: none;
        }

        .dropzone.dz-started .dz-message {
            display: inline-block !important;
            width: 120px;
            float: right;
            border: 1px solid rgba(238, 238, 238, 0.36);
            border-radius: 30px;
            height: 120px;
            margin: 16px;
            -webkit-transition: .2s;
            transition: .2s;
        }

        .dropzone.dz-started .dz-message span.text {
        display: none;
        }

        .dropzone.dz-started .dz-message span.plus {
        display: block;
        font-size: 70px;
        color: #AAA;
        line-height: 110px;
        }        

        /* 미리보기 */
        .preview-container {
            padding: 20px 20px;

            
        }
        .preview-image-container {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            flex-direction: column; 

        }

        

        .preview-image {
            display: none;
            max-width: 70%; /* 수정된 부분 */
            height: auto;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .dz-remove {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
            background: #373634;
            color: white;
            border-radius: 50%;
            line-height: 25px;
            text-align: center;
            cursor: pointer;
            z-index: 1000;
            opacity: 0.8;
        }

        .dz-remove:hover {
            background-color: rgb(90, 129, 151);
        }

        .dz-remove:before, .dz-remove:after {
            content: ' ';
            position: absolute;
            width: 2px;
            height: 20px;
            background-color: #fff;
        }

        .dz-remove:before {
            transform: rotate(45deg);
            left: 11px;
            top: 2px;
        }

        .dz-remove:after {
            transform: rotate(-45deg);
            left: 11px;
            top: 2px;
        }
    </style>
    {% endblock %}

    {% block content %}
    <div class="container mt-5">
        <div class="create-header">
            <h1>새 포스트 생성</h1>
            <form action="{% url 'board:board_create_form' %}" method="post">
                {% csrf_token%}
                <button type="submit" class="btn btn-outline-secondary">다음</button>
            </form>
        </div>
        

        <div id="dropzone">
            <form action="https://httpbin.org/post" id="demo-upload" class="dropzone needsclick" >
                <div class="dz-message needsclick">
                    <span class="text">
                    <img src="http://www.freeiconspng.com/uploads/------------------------------iconpngm--22.png" alt="Camera" />
                    👉  여기에 파일을 끌어다 놓거나 클릭하여 업로드하세요. 👈
                    </span>
                    <span class="plus">+</span>
                </div>
            </form>
        </div>

        <div class="preview-container">
            <h1>미리보기</h1>
            <p>❕업로드한 이미지를 클릭하세요.</p>
            <div id="preview-container" class="preview-image-container mt-3">
                <img id="preview-image" class="preview-image" src="" alt="Preview">
                
            </div>
        </div>
    </div>

<script>
        Dropzone.options.demoUpload = {
            init: function() {
                var _this = this;

                 // Dropzone 컨테이너에 이벤트 리스너 추가
                this.element.addEventListener("click", function(e) {
                    if (e.target.classList.contains('dz-remove')) {
                        e.preventDefault();
                        e.stopPropagation();
                        
                        var fileElement = e.target.closest('.dz-preview');
                        if (fileElement) {
                            var file = fileElement.file;
                            if (file) {
                                console.log("Removing file:", file.name);
                                _this.removeFile(file);
                            } else {
                                console.error("File not found");
                            }
                        } else {
                            console.error("File element not found");
                        }
                    }
                });

                this.on("addedfile", function(file) { // "thumbnail" 이벤트에서 "addedfile" 이벤트로 변경
                    console.log("File added:", file.name);
                    var removeButton = Dropzone.createElement("<button class='dz-remove'></button>");
                    removeButton.setAttribute('data-dz-remove', '');
                    file.previewElement.appendChild(removeButton);

                    // 파일 객체를 previewElement에 직접 연결
                    file.previewElement.file = file;
                    
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        file.previewElement.addEventListener("click", function(e) {
                            // 이벤트 버블링 방지
                            if (e.target.classList.contains('dz-remove')) return;

                            var previewImage = document.getElementById('preview-image');
                            previewImage.src = event.target.result;
                            previewImage.style.display = 'block';
                        });
                    };
                    reader.readAsDataURL(file);
            });
          
            }
        };
           
</script>
{% endblock %}