{% extends 'base.html' %}
{% load static %}

{% block extra-style %}
<link href="{% static 'css/board_list.css' %}" rel="stylesheet">
{% endblock %}
    
{% block content %}
<div class="my-container">
    <div class="head-container">
        <div class="direct-container">
            <p class="text-center">Community</p>
            <div class="row">
            <div class="d-flex justify-content-center">
                <!-- 검색 폼 -->
                <form id="search-form" action="{% url 'board:board_search' %}" method="post">
                    {% csrf_token %}
                    {{ search_form.search_word }}
                    <button id="search-button" type="submit">
                        <span class="material-symbols-outlined" style="font-size: 35px;">
                            search
                            </span>
                    </button>
                </form>
            </div>
            </div>
    </div>
</div>
<div class="container">
    <div class="stats" style="display: flex; justify-content: flex-end; margin: 20px 0px;">
        <form action="{% url 'board:board_create' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outlne-secondary registration" style="border: none;"><i class="fa-solid fa-pencil"></i></button>
        </form>
    </div>
    
    <div class="row">
        {% for post in posts %}
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <div class="img-container">
            <!-- seed 뒤 포스트 id 부여 seed/{{post.id}} -->
                <a id="click_a" href="{% url 'board:board_detail' post.pk %}">
                    {% if post.postimage_set.first %}
                    <img src="{{post.postimage_set.first.image_url.url}}" class="img-fluid" alt="random_img11">
                    {% else %}
                    <img src="https://picsum.photos/seed/{{post.id}}/300/300" class="img-fluid" alt="random_img11">
                    {% endif %}
                
                <div class="overlay">
                    <div class="top-row">
                        <span class="badge bg-light text-dark university-cap">
                            <i class="fa-solid fa-graduation-cap"></i>&nbsp;{{ post.exhibit }}
                        </span>
                        <span class="badge bg-light text-dark visitors">
                            <i class="fa-solid fa-eye"></i>&nbsp;{{ post.visitors }}
                        </span>
                    </div>
                </div>
                </a>
            
            </div>
            <h4>{{ post.post_title }}</h4>
            <p><i class="fa-solid fa-circle-user" style="font-size: 1.2em; vertical-align: middle;"></i>&nbsp;{{ post.user }}</p>
        </div>
        {% empty %}
            <p class="text-center">게시물이 없습니다.</p>
        {% endfor %}

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true"><i class="fa-solid fa-angles-left"></i></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link"><i class="fa-solid fa-angles-left"></i></span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link"><i class="fa-solid fa-chevron-left"></i></span>
                </li>
                {% endif %}
        
                {% with ''|center:page_obj.paginator.num_pages as range %}
                {% for _ in range %}
                    {% with forloop.counter as i %}
                        {% if i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %}
                            {% if i == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                {% endwith %}
        
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true"><i class="fa-solid fa-angles-right"></i></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link"><i class="fa-solid fa-angle-right"></i></span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link"><i class="fa-solid fa-angles-right"></i></span>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock %}