{% extends 'base.html' %}
{% load static %}


    <title>Board</title>
    {% block extra-style %}
    <link href="{% static 'css/board_list.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a47086679e.js" crossorigin="anonymous"></script>
    
    {% endblock %}
    
{% block content %}
<div class="my-container mt-5">
    <div class="head">
        <div class="alert alert-primary" role="alert"><h1>Into</h1></div>
        <div class="alert alert-primary" role="alert"><h1>Exhibits</h1></div>
        <div class="alert alert-primary" role="alert"><h1>Post</h1></div>
    </div>  
</div>
<div class="container">
    <div class="stats" style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
        <form action="{% url 'board:board_create' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary">등록</button>
        </form>
        

    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <div class="img-container">
            <!-- seed 뒤 포스트 id 부여 seed/{{post.id}} -->
                    {% if post.postimage_set.first %}
                    <img src="{{post.postimage_set.first.image_url.url}}" class="img-fluid" alt="random_img11">
                    {% else %}
                    <img src="https://picsum.photos/seed/1/300/300" class="img-fluid" alt="random_img11">
                    {% endif %}
                <a id="click_a" href="{% url 'board:board_detail' post.pk %}">
                <div class="overlay">
                    <span class="badge bg-light text-dark university-cap"><i class="fa-solid fa-graduation-cap"></i>&nbsp;{{ post.exhibit }}</span>
                    
                </div>
                </a>
            
            </div>
            <h4>{{ post.post_title }}</h4>
            <p>{{ post.user }}</p>
        </div>
        {% endfor %}
        <div class="col-6 col-md-4 col-lg-3 mb-3">
            <img src="https://picsum.photos/seed/1/300/300" class="img-fluid" alt="random_img">
        </div>
    </div>
</div>

{% endblock %}