{% extends 'base.html' %}
{% load static %}
    
{% block extra-style %}

<style>
    .img-container {
        position: relative;
        overflow: hidden;
        width: 100%; /* 원하는 고정 너비로 설정 */
        height: 600px; /* 원하는 고정 높이로 설정 */
        background-color: #000;
    }
    .img-container img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .carousel-cap{
        width: 24px;
        margin: 20px 20px;
        border-radius: 24px;
        background-color: #373634;
        color: #fff;
    }
    
    .post-content {
        background-color: #fff; /* 흰색 배경 */
        padding: 20px; /* 내부 여백 */
        border: 1px solid #ddd; /* 테두리 */
        border-radius: 5px; /* 모서리 둥글게 */
        font-family: 'Arial', sans-serif; /* 글꼴 설정 */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    }

    .post-content h2 {
        font-size: 24px; /* 제목 크기 */
        margin-bottom: 10px; /* 아래 여백 */
        color: #333; /* 제목 색상 */
    }

    .post-content p {
        font-size: 14px; /* 본문 크기 */
        color: #666; /* 본문 색상 */
        margin-bottom: 10px; /* 아래 여백 */
    }

    .post-content li.h5 {
        font-size: 18px; /* 리스트 아이템 크기 */
        color: #333; /* 리스트 아이템 색상 */
        margin-bottom: 5px; /* 아래 여백 */
    }

    .post-content a {
        color: #007bff; /* 링크 색상 */
        text-decoration: none; /* 밑줄 제거 */
    }

    .post-content a:hover {
        text-decoration: underline; /* 링크에 호버 시 밑줄 추가 */
    }
    li{
        list-style: none;
    }
    .edit{
        border: none;
    }
    .headline{
        margin-bottom: 16px;
        border: none;
        height: 1px; /* 선의 두께 조정 */
        background-color: lightgray; /* 선의 색상 설정 */
    }

        
</style>
{% endblock %}
    
{% block content %}
<div class="container mt-5 pt-3">
    
    <div class="row">
        <div class="col-md-8 post-img" >
            <div id="carouselExampleControls" class="carousel slide">
                <div class="carousel-inner">
                    {% if post_img %}
                    {% for image in post_img %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="img-container">
                        <!-- seed 뒤 포스트 id 부여 seed/{{post.id}} -->
                        <img src="{{ MEDIA_URL }}{{ image.image_url.url }}" class="img-fluid" alt="random_img11">
                            <div class="overlay">
                                <!-- #373634 -->
                                <span class="carousel-cap">{{ forloop.counter }}/{{ post_img|length}}</span>
                            </div>
                    </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="carousel-item active">
                        <div class="img-container">
                            <!-- seed 뒤 포스트 id 부여 seed/{{post.id}} -->
                            <img style="color:white;" src="https://picsum.photos/900/500/" class="img-fluid" alt="NO IMAGE">
                                <!-- <div class="overlay">
                                    <span class="carousel-cap">{{ forloop.counter }}/{{ post_img|length}}</span>
                                </div> -->
                        </div>
                    </div>
                    {% endif %}
                </div>
                    
                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <ul class="col-md-4 post-content">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h5 style="display: flex; align-items: center; margin: 0;">
                    <i class="fa-solid fa-circle-user" style="font-size: 1.2em; vertical-align: middle;"></i>&nbsp;{{ post.user }}
                </h5>
                {% if user.is_authenticated %}
                <form action="{% url 'board:board_detail_edit' post.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-secondary edit">수정</button>
                </form>
                {% endif %}
                
            </div>
            <p style="margin: 5px 16px; margin-bottom: 5px;">{{ post.post_timestamp}}</p>
            <div class="headline"></div>
            
            <h2 class="">{{ post.post_title }}</h2>
            
            <p>
                {{ post.post_content }}
            </p>
            
            <li class="h6 fw-bold mt-5">전시</li>
            <p><i class="fa-solid fa-tags"></i>&nbsp;<a href="{% url 'exhibit:exhibit_detail' exhibit_id=post.exhibit.id %}" style="text-decoration: none;">{{ post.exhibit }}</a></p>
            <div>
                <br>
                <hr>
                <div id="disqus_thread"></div>
                <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://gallery-with-me.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
            </div>
        </ul>
    </div>

    
</div>
{% endblock %}
