.header {
    background-color: transparent;
    transition: background-color 0.3s ease-out;
}
.header.fixed {
    background-color: white;
}

/* 기본 사이드바 스타일 */
.sidebar {
    width: 280px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    z-index: 1;
}

/* 작은 화면에서 활성화된 사이드바 스타일 */
@media (max-width: 576px) {
    .sidebar {
        width: 100%;
    }
    .sidebar.active {
        transform: translateX(0);
    }
}
.sidebar.active {
    transform: translateX(0);
}

.list-unstyled a {
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    font-size: 1rem;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}

#MainCarousel{
    position: relative;
    top: 0px;
}

.carousel-caption{
    top: 40%;
}

.carousel-title{
    color: white;
    font-size: 5rem;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
}

.carousel-title-description{
    color: white;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Bona Nova SC", serif;
    font-style: normal;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb .breadcrumb-item a {
    color: black; /* 글자 색상 설정 */
    text-decoration: none; /* 밑줄 제거 */
}

.card {
    position: relative;
    overflow: hidden;
}

.card-img {
    transition: opacity 0.3s ease-in-out;
    height: 100%;
}

.card:hover {
    background-color: #f0ba32;
}

.card:hover .card-img {
    opacity: 0;
}

.card-title {
    color: black;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-weight: 400;
    font-family: "Bona Nova SC", serif;
    font-style: normal;
}

.card:hover .card-title {
    opacity: 1;
}

.container-rcmd {
    background-color: white;
    padding-top: 5rem;
    padding-inline: 10rem;
}

.rcmd-title {
    font-size: 2rem;
    font-weight: 700;
    font-family: "Bona Nova SC", serif;
    font-style: normal;
}

.rcmd-content {
    display: flex;
    align-items: center;
}

.rcmd-text h2,
.rcmd-text h3,
.rcmd-text p,
.rcmd-text a {
    margin-left: 2rem;
    font-family: "Bona Nova SC", serif;
    font-style: normal;
}

.rcmd-text h2 {
    /* margin-left: 1rem; */
    font-weight: 700;
}

.rcmd-text h3 {
    /* margin-left: 1rem; */
    font-size: 28px;
    font-weight: 400;
    color: black;
}

.rcmd-text p {
    margin-top: 2rem;
    font-size: 21px;
    font-weight: 400;
}

.rcmd-text a {
    /* margin-left: 1rem; */
    font-size: 21px;
    font-weight: 400;
    color: black;
}