{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<style>
    #map {
        width: 100%;
        /* height: px; */
    }
    body {
        padding-top: 50px;
    }
    .bookmark-btn {
        border: none;
        background-color: transparent;
    }
    .badge {
        background-color: #f0f0f0;
        color: #333;
        margin-right: 5px;
    }
</style>

<body>
    <div class="container mt-5 mb-3">
        <h1 class="mb-5">{{ title }}</h1>
        <button class="bookmark-btn" data-exhibit-id="{{ id }}">
            {% if is_bookmarked %}
                <!-- Bookmark  -->                                    
                <i class="bi bi-bookmark-star-fill"></i>
            {% else %}
                <!-- Unbookmark  -->
                <i class="bi bi-bookmark"></i>
            {% endif %}
        </button>
        <!-- 학교와 학과 배지 -->
        <span class="badge">{{ university_department.university.name }}</span>
        <span class="badge">{{ university_department.department.name }}</span>
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-3">Poster</h2>
                <p>여기에 포스터들 쭉 나열</p>
                <h2 class="mb-3">Description</h2>
                <p>{{ description }}</p>
                <h2 class="mb-3">Details</h2>
                <p><strong>Start Date:</strong> {{ start_date }}</p>
                <p><strong>End Date:</strong> {{ end_date }}</p>
                <p><strong>Address:</strong> {{ address }}</p>
            </div>
            <div class="col-md-6">
                <h2 class="mb-3">Map</h2>
                <div id="map" style="height: 400px;">
                    {{ map|safe }}
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    // 북마크 버튼
    document.querySelector('.bookmark-btn').addEventListener('click', function() {
            const exhibitId = this.getAttribute('data-exhibit-id');
            fetch(`/exhibit/exhibit_bookmark/${exhibitId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                if (data.is_bookmarked) {
                    this.innerHTML = '<i class="bi bi-bookmark-star-fill"></i>';
                } else {
                    this.innerHTML = '<i class="bi bi-bookmark"></i>';
                }
            });
        });
    // });
</script>
{% endblock %}