<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <style>
        #map {
            width: 50%;
            /* height: px; */
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    <div>
        <h2>Poster</h2>
        <p>여기에 포스터들 쭉 나열</p>
        <h2>Description</h2>
        <p>{{ description }}</p>
        <h2>Details</h2>
        <p><strong>Start Date:</strong> {{ start_date }}</p>
        <p><strong>End Date:</strong> {{ end_date }}</p>
        <p><strong>Address:</strong> {{ address }}</p>
        <div id="map">
            {{ map|safe }}
        </div>
    </div>
</body>
</html>