{% extends 'base.html' %}
{% load static %}

{% block extra-style %}
<link href="{% static 'css/cart.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="d-flex justify-content-center mb-5">
        <div class="border p-4 rounded mt-4 cart-container">
            <h2 class="text-center mb-4">장바구니</h2>
            <form method="post" action="{% url 'order:checkout' %}">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><input type="checkbox" id="select-all"></th>
                                <th scope="col">상품명</th>
                                <th scope="col">가격</th>
                                <th scope="col">수량</th>
                                <th scope="col">합계</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td><input type="checkbox" name="selected_items" value="{{ item.id }}"></td>
                                <td>{{ item.art_work.title }}</td>
                                <td>{{ item.art_work.price|floatformat:0 }} 원</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.total_price|floatformat:0 }} 원</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">결제하기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('select-all').addEventListener('click', function(event) {
        const checkboxes = document.querySelectorAll('input[name="selected_items"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = event.target.checked;
        });
    });
</script>
{% endblock %}
