{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .cart-container {
        max-width: 1000px; 
        width: 100%; 
    }
    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 16px;
        margin: 16px;
        display: inline-block;
        width: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .card img {
        width: 100%; /* 이미지의 너비를 카드의 너비에 맞춤 */
        height: 200px; /* 이미지의 최대 높이를 설정 */
        object-fit: cover; /* 이미지가 카드에 맞게 잘리도록 설정 */
        border-bottom: 1px solid #ccc;
        margin-bottom: 8px;
    }
    .card-link {
        color: black; 
        text-decoration: none; 
    }
</style>

<div class="container-fluid mt-5">
    <div class="d-flex justify-content-center mb-5">
        <div class="border p-4 rounded mt-4 cart-container">
            <h2 class="text-center mb-4">장바구니</h2>
            <form method="post" action="#">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><input type="checkbox" id="select-all"></th>
                                <th scope="col">상품</th>
                                <th scope="col">작가</th>
                                <th scope="col">가격</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in carts %}
                            <tr>
                                <td><input type="checkbox" name="selected_items" value="{{ cart.id }}" data-price="{{ cart.art_work.price }}"></td>
                                <td>
                                    <div class="card">
                                        {% for image in cart.art_work.artimage_set.all %}
                                            <a href="{% url 'artwork:artwork_detail' cart.art_work.id %}" class="card-link">
                                                <img src="{{ image.image_url.url }}" alt="{{ cart.art_work.title }}">
                                                {{ cart.art_work.title }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </td>
                                
                                <td>{{ cart.art_work.seller.nickname }}</td>
                                <td>{{ cart.art_work.price|floatformat:0 }}원</td>
                                <td><button class="delete-btn" data-cart-id="{{ cart.id }}">X</button></td>                                
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">장바구니에 항목이 없습니다.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <h4>총 금액: <span id="total-price">0</span>원</h4>
                    <button type="submit" class="btn btn-primary">결제하기</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
        function updateTotalPrice() {
        const checkboxes = document.querySelectorAll('input[name="selected_items"]:checked');
        let totalPrice = 0;
        checkboxes.forEach(checkbox => {
            const price = parseFloat(checkbox.getAttribute('data-price'));
            if (!isNaN(price)) {
                totalPrice += price;
            }
        });
        document.getElementById('total-price').innerText = totalPrice.toLocaleString();
    }

    document.getElementById('select-all').addEventListener('click', function(event) {
        const checkboxes = document.querySelectorAll('input[name="selected_items"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = event.target.checked;
        });
        updateTotalPrice();
    });

    document.querySelectorAll('input[name="selected_items"]').forEach(checkbox => {
        checkbox.addEventListener('change', updateTotalPrice);
    });

    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function() {
            const cartId = this.getAttribute('data-cart-id');
            fetch(`/order/delete_cart_item/${cartId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    this.closest('tr').remove();
                    updateTotalPrice();
                } else {
                    alert('삭제에 실패했습니다.');
                }
            });
        });
    });
</script>
{% endblock %}
