{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-center mb-5">
        <div class="border p-4 rounded mt-4 address-container">
            <h2 class="text-center mb-4">배송지 관리</h2>

            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}

            <div class="d-grid mb-3">
                <button type="button" class="btn register-address-btn" data-bs-toggle="modal" data-bs-target="#registerAddressModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                    </svg>
                    배송지 신규입력
                </button>
            </div>

            <div class="modal fade" id="registerAddressModal" tabindex="-1" aria-labelledby="registerAddressModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">배송지 입력</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'order:create_address' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="mb-3 row">
                                <label for="recipient" class="col-sm-2 col-form-label">받는분:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="recipient" name="recipient" required>
                                </div>
                                <label for="phone_number" class="col-sm-2 col-form-label">휴대폰 번호:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="destination" class="col-sm-2 col-form-label">배송지:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="destination" name="destination">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="postal_code" class="col-sm-2 col-form-label">우편번호:</label>
                                <div class="col-sm-7 mb-1">
                                    <input type="text" class="form-control" id="postal_code" name="postal_code" required>
                                </div>
                                <input class="col-sm-3 mb-1" width="80" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                                <label for="address" class="col-sm-2 col-form-label">배송주소:</label>
                                <div class="col-sm-10 mb-1">
                                    <input type="text" class="form-control" id="address" placeholder="주소" name="address" required>
                                </div>
                                <label for="more_address" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-5 mb-1">
                                    <input type="text" class="form-control" id="more_address" placeholder="상세주소" name="more_address">
                                </div>
                                <div class="col-sm-5 mb-3">
                                    <input type="text" class="form-control" id="extra_address" placeholder="참고항목" name="extra_address">
                                </div>
                                <div class="form-check mx-2">
                                    <input class="form-check-input" type="checkbox" value="True" id="flexCheckChecked" name="is_default">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        기본 배송지 설정
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                            <button type="submit" class="btn btn-primary">등록</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

            {% if address_list %}
                {% for address in address_list %}
                <div class="card address-list-card mb-2 d-flex justify-content-center">
                    <div class="card-body mx-3">
                        <div class="d-flex">
                            <h5 class="me-auto">{{ address.recipient }}
                                {% if address.destination %}
                                ({{ address.destination }})
                                {% endif %}
                                {% if address.is_default %}
                                    <span class="badge basic-badge text-bg-light"> 기본배송지</span>
                                {% endif %}
                            </h5>
                            <div class="d-grid mb-3">
                                <button type="button" class="btn update-address-btn" data-bs-toggle="modal" data-bs-target="#updateAddressModal{{ address.pk }}">
                                    수정
                                </button>
                            </div>
                            <div class="modal fade" id="updateAddressModal{{ address.pk }}" tabindex="-1" aria-labelledby="updateAddressModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">배송지 수정</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form action="{% url 'order:update_address' address.pk %}" method="post">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <div class="mb-3 row">
                                                <label for="recipient" class="col-sm-2 col-form-label">받는분:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" id="recipient" value="{{ address.recipient }}" name="recipient" required>
                                                </div>
                                                <label for="phone_number" class="col-sm-2 col-form-label">휴대폰 번호:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" value="{{ address.phone_number }}" id="phone_number" name="phone_number" required>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="destination" class="col-sm-2 col-form-label">배송지:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" value="{{ address.destination }}" id="destination" name="destination">
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <label for="postal_code" class="col-sm-2 col-form-label">우편번호:</label>
                                                <div class="col-sm-7 mb-1">
                                                    <input type="text" class="form-control" value="{{ address.postal_code }}" id="postal_code" name="postal_code" required>
                                                </div>
                                                <input class="col-sm-3 mb-1" width="80" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                                                <label for="address" class="col-sm-2 col-form-label">배송주소:</label>
                                                <div class="col-sm-10 mb-1">
                                                    <input type="text" class="form-control" value="{{ address.address }}" id="address" placeholder="주소" name="address" required>
                                                </div>
                                                <label for="more_address" class="col-sm-2 col-form-label"></label>
                                                <div class="col-sm-5 mb-1">
                                                    <input type="text" class="form-control" value="{{ address.detail_address }}" id="more_address" placeholder="상세주소" name="more_address">
                                                </div>
                                                <div class="col-sm-5 mb-3">
                                                    <input type="text" class="form-control" id="extra_address" placeholder="참고항목" name="extra_address">
                                                </div>
                                                <div class="form-check mx-2">
                                                    {% if address.is_default %}
                                                    <input class="form-check-input" type="checkbox" value="{{ address.is_default }}" id="flexCheckChecked" name="is_default" checked>
                                                    {% else %}
                                                    <input class="form-check-input" type="checkbox" value="{{ address.is_default }}" id="flexCheckChecked" name="is_default">
                                                    {% endif %}
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                        기본 배송지 설정
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                            <button type="submit" class="btn btn-primary">저장</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                            <form action="{% url 'order:delete_address' address.pk %}">
                                <input class="btn delete-btn" type="submit" value="삭제">
                            </form>
                        </div>
                        <p>{{ address.phone_number }}</p>
                        <span class="">{{ address.address }} {{ address.detail_address }} ({{ address.postal_code }})</span>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }
                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("extra_address").value = extraAddr;
                } else {
                    document.getElementById("extra_address").value = '';
                }
                document.getElementById('postal_code').value = data.zonecode;
                document.getElementById("address").value = addr;
                document.getElementById("more_address").focus();
            }
        }).open();
    }
</script>
{% endblock %}
