{% load static %}
{% load user_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery with me</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Noto+Serif+KR:wght@200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
  <script src="https://kit.fontawesome.com/a47086679e.js" crossorigin="anonymous"></script>
  {% block extra-style %}{% endblock %}
</head>

<body>
  {% block navbar %}
  <!-- 헤더 -->
  <div class="container-fluid mx-0 header fixed-top">
    <header class="d-flex flex-wrap justify-content-center py-2 container-fluid">
      <a href="/" class="d-flex align-items-center  mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="logo fs-4">Gallery With Me</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link" id="Sidebar-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
          </a></li>

          <li class="nav-item position-relative">
            <a href="{% url 'order:cart' %}" class="nav-link">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-bag" viewBox="0 0 16 16">
                <path
                  d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
              </svg>
              {% if user.is_authenticated and cart_count > 0 %}
              <span class="badge bg-danger position-absolute top-1 start-100 translate-middle">{{ cart_count }}</span>
              {% endif %}
            </a>
          </li>

        <li class="nav-item"><a href="#" class="nav-link" id="Sidebar-profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-person-circle"
              viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
          </a></li>
      </ul>
    </header>
  </div>
  <!-- 헤더end -->
  {% endblock %}

  <!-- 사이드바 -->
  <div class="sidebar sidebar-menu flex-shrink-0 p-3">
    <ul class="list-unstyled ps-0 mt-5">
      <li class="mb-2">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
          <a href="/artwork/artwork_list" class="link-body-emphasis text-decoration-none">Artworks</a>
        </button>
      </li>
      <li class="mb-2">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
          <a href="/board/" class="link-body-emphasis text-decoration-none">Community</a>
        </button>
      </li>
      <li class="mb-2">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
          <a href="/exhibit/" class="link-body-emphasis text-decoration-none">Exhibition Map</a>
        </button>
      </li>

      <li class="border-top "></li>
      <li class="mb-2">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
          <a href="#" class="link-body-emphasis text-decoration-none">Contact Us</a>
        </button>
      </li>
    </ul>
  </div>


  <div class="sidebar sidebar-profile flex-shrink-0 p-3">
    {% if user.is_authenticated %}
    <ul class="list-unstyled ps-0 mt-5">
      <li class="mb-2">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#profile-collapse" aria-expanded="false">
          프로필 관리
        </button>
        <div class="collapse" id="profile-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              {% verify_seller user.id as is_seller %}
              {% if is_seller %}
              <a href="{% url 'user:update_seller_profile' %}"
                class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">회원정보 수정</a>
              {% else %}
              <a href="{% url 'user:update_profile' %}"
                class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">회원정보 수정</a>
              {% endif %}
            </li>
            <li><a href="{% url 'user:change_password' %}"
                class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">비밀번호 수정</a>
            </li>
            <li><a href="{% url 'user:delete_account' %}"
                class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">계정 삭제</a>
            </li>
            <li><a href="/user/change_address" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">배송지 변경</a>
            </li>
            <li><a href="/artwork/user_inquiry_list" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">문의내역</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-2">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#like-collapse" aria-expanded="false">
          찜
        </button>
        <div class="collapse" id="like-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/artwork/artwork_like_list" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">찜한 작품</a>
            </li>
            <li><a href="/exhibit/exhibit_like_list" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">전시 북마크</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-2">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#order-collapse" aria-expanded="false">
          주문내역
        </button>
        <div class="collapse" id="order-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'user:purchase_history' %}" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">구매/환불내역</a>
            </li>
            <li><a href="{% url 'user:reservation_history' %}" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">예약관리</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-2">
        <form method="post" action="{% url 'user:logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn d-inline-flex align-items-center rounded border-0 "aria-expanded="false">LOGOUT</button>
        </form>
      </li>

      <!-- 판매자 페이지(판매자에게만 보임) -재헌 -->
      {% verify_seller user.id as is_seller %}
      {% if is_seller %}
      <li class="border-top "></li>
      <li class="mb-2">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
          data-bs-toggle="collapse" data-bs-target="#seller-collapse" aria-expanded="false">
          seller's page
        </button>
        <div class="collapse" id="seller-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="{% url 'artwork:seller_artwork_list' %}" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">내 작품 관리</a>
            </li>
            <li><a href="{% url 'artwork:create_artwork' %}" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">작품 등록</a>
            <li><a href="{% url 'seller:sales_history' %}" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">판매내역</a>
            <li><a href="{% url 'seller:seller_reserve' %}" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">예약현황</a>
            <li><a href="{% url 'artwork:seller_inquiry_list' %}" class="mx-4 mb-1 link-body-emphasis d-inline-flex text-decoration-none rounded">받은 문의내역</a>
            </li>
          </ul>
        </div>
      </li>
      {% endif %}
      <!-- 판매자 페이지(판매자에게만 보임) -재헌 -->

      {% else %}
      <ul class="list-unstyled ps-0 mt-5">
        <li class="mb-2">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
            <a href="{% url 'user:login' %}" class="link-body-emphasis text-decoration-none">Login</a>
          </button>
        </li>
        <li class="mb-2">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed">
            <a href="{% url 'user:select_register' %}" class="link-body-emphasis text-decoration-none">Register</a>
          </button>
        </li>
      </ul>
      {% endif %}
    </ul>
  </div>
  <!-- 사이드바 end-->

  {% block content %}{% endblock %}

  {% block footer %}
  <!-- footer -->
  <div class="container mt-4" style="border-top: 1px solid #dee2e6;">
    <footer class="pt-3 pb-3 mt-auto">
      <div class="mb-3">
        <p class="footer-text">Gallery with Me</p>
        <p class="footer-text">대표: JustCode</p>
        <p class="footer-text">상호: 갤러리윗미</p>
        <p class="footer-text">전자우편주소: justcode@likelion.com</p>
        <p class="footer-text">Gallery with me는 통신판매의 당사자가 아닌 통신판매중개자로서 상품, 상품정보, 거래에 대한 책임이 제한될 수 있으므로, 각 상품의 구체적인 내용을
          확인하시기 바랍니다.</p>
        <p class="footer-text">© 2024 Gallery with Me all rights reserved</p>
      </div>
    </footer>
  </div>
  <!-- footer end -->
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/base.js' %}"></script>
  
  {% block extra-js %}{% endblock %}

  {% block script %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  // 비동기(AJAX)로 장바구니에 든 아이템의 수 가져와서 뱃지 업데이트 
  function updateCartBadge() {
    $.ajax({
      url: '{% url "get_cart_count" %}',
      method: 'GET',
      success: function(data) {
        const cartCount = data.cart_count;
        const badge = document.querySelector('.nav-item .badge');
        if (badge) {
          if (cartCount > 0) {
            badge.innerText = cartCount;
            badge.style.display = 'inline';
          } else {
            badge.style.display = 'none';
          }
        }
      },
      error: function(error) {
        console.error('Error fetching cart count:', error);
      }
    });
  }

  // Call the function to update the badge on page load
  $(document).ready(function() {
    updateCartBadge();
  });

  // Optionally, you can set an interval to update the badge periodically
  setInterval(updateCartBadge, 60000); // Update every 60 seconds
  </script>
  {% endblock %}

  
</body>

</html>