.exhibit-like-container {
    width: 1500px;
    font-family: "Noto Serif KR", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.like-thumbnail-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.bookmark-btn {
    border: none;
    background-color: transparent;
}

.bookmark-container {
    margin-left: 10px;
}